<div class="container"><h2>Online Air Ticket Booking</h2></div>
<div class="container">
	<ul class="nav nav-tabs">
		<li class="active">
			<a  href="#one-way" data-toggle="tab"><i class="fa fa-plane"></i> One Way</a>
		</li>
		<li>
			<a href="#two-way" data-toggle="tab">Two Way</a>
		</li>
	</ul>
	<div class="tab-content container">
		<div class="tab-pane active" id="one-way">
			<%= simple_form_for FlightDetail.new , :method => :get  do |f|%>
			<%= f.input :flight_type %>
			
			<div class="col-md-6 row">
				<%= f.input :flight_from, as: :select,
				collection: [
				'Nepal',
				'USA',
				'Australia'] %>
			</div>
			<div class="col-md-6 row pull-right">
				<%= f.input :flight_to, as: :select,
				collection: [
				'Nepal',
				'USA',
				'Australia']%>
			</div>
			<div class="col-md-6 row">
				<%= f.input :departure_date, as: :date, class: 'col-md-6' %>
			</div>
			<div class="col-md-6 row pull-right">
				<%= f.input :ticket_class, as: :select,
				collection: [
				'Business',
				'Economy']%>
			</div>

			<%= f.input :ticket_count, collection: 1..10, prompt: "Select your age", selected: 1 %>

			<%= f.button :submit, value: "Search", :class => 'btn btn-success'  %>
			<% end %>
		</div>
		
		<div class="tab-pane" id="two-way">
			<h3>Yet To Be Completed</h3> 
		</div>
	</div>
</div>

</div>



<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @flightdetails.each do |flightdetail| %>
      <tr>
        <td><%= flightdetail.id %></td>
        <td><%= flightdetail.flight_from %></td>
        <td><%= flightdetail.flight_to %></td>
        <td><%= link_to 'Show', flightdetail %></td>
      </tr>
    <% end %>
  </tbody>
</table>